.container {
    background-color: #FFA500;
    display: flex;
    justify-content: center;
    align-items: center;
}

input[type=text], input[type=password] {   
    width: 100%;   
    margin: 8px 0;  
    padding: 12px 20px;   
    display: inline-block;   
    border: 2px solid green;   
    box-sizing: border-box; 
    border-radius: 25px;
    box-shadow: #170b4fca; 
}  
.wraper {
    background-color: rgb(255,105,180);
    height: 20rem;
    padding: 10rem;
}

.smallhidden {
    visibility: hidden;
}

.smallshown {
    visibility: visible;
    color: red;
}
